@charset "gb2312";
/* CSS Document */

@import "swt.css"; 

body {margin:0;padding:0;height: 100%;font-size: 12px;font-family:"풻", arial, verdana; background:#eff1f2;}
ul,li,p,h1,h2,h3,h4,h5,h6,div,dd,dl{margin:0;padding:0;}
ul,li{list-style-type:none; margin:0;padding:0;} 
a{ text-decoration:none; color:#000;}
a:hover{ color:#03765F;}
img{ border:none;}
.block { display:block;}
.none { display:none;}
.clear{ clear:both; height:0; overflow:hidden;}

#header{ width:100%; margin:0 auto; overflow:hidden;}
#header .top{ height:84px; background:#eff1f2;}
#header .top .top1{ width:1000px; margin:0 auto;}
#header .top .logo{ float:left; margin:15px 0 0 0;}
#header .top .ry { float:left; padding:22px 0 0 20px;}
#header .top .ry .s{ height:25px; width:400px; }
#header .top .ry .s p{ float:left; font-size:14px; color:#686767; padding:0 20px 0 0;}
#header .top .ry .x{ height:20px; width:400px;}
#header .top .ry .x p{ float:left; color:#686767; font-size:14px; padding:0 20px 0 0;}
#header .top .dh{ background:url(../images/dh.jpg) no-repeat left 18px; height:68px; float:right; padding-top:8px; margin-right:80px;}
#header .top .dh p{ line-height:20px;}
#header .top .dh .wz1{ padding:16px 0 0px 58px; color:#686767; font-weight:bold; font-size:12px; font-family:"풕턼환쥌";}
#header .top .dh .wz2{ padding:0 0 0 58px; color:#686767; font-weight:bold; font-size:16px;font-family:"풕턼환쥌";}
#header .top .dh .wz3{ padding:0 0 0 58px; color:#686767; font-weight:bold; font-size:16px;font-family:"풕턼환쥌";}
#header .nav{ background:#00978e; height:46px; line-height:46px; text-align:center; margin-bottom:1px; overflow:hidden;}
#header .nav li{ width:1000px; margin:0 auto;}
#header .nav li a{ font-size:18px; color:#fff; width:122px; font-family:"풕턼환쥌"; display:block; float:left; display:inline;}
#header .nav li a:hover{ background:#bce9e9; width:122px; height:46px; color:#0e5d5d;}

/*============== banner ==================*/
#full-screen-slider { width:928px; height:369px; float:left; position:relative; overflow:hidden;}
#slides { display:block; width:100%; height:396px; list-style:none; padding:0; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:29%; top:320px; z-index:9900;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; width:38px; height:8px; float:left; margin-left:10px; background:url(../images/d1.gif) no-repeat; }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:url(../images/d2.gif) no-repeat;}
#full-screen-slider .b02{ background:url(../images/banner1.jpg) no-repeat center top; width:936px; height:396px;}
#full-screen-slider .b03{ background:url(../images/banner2.jpg) no-repeat center top; width:936px; height:396px;}
#full-screen-slider .b04{ background:url(../images/banner3.jpg) no-repeat center top; width:936px; height:396px;}


.banner {width:1440px; height:370px; margin:0 auto;}
#header .banner .nav1{ float:left; width:284px;}
#header .banner .nav1 .nav_r1{border:1px solid #D6D6D6;  border-left:none; border-right:none; background:url(../images/he_top.jpg) no-repeat;  height:64px; color:#CF9200; font-size:24px; line-height:64px; text-align:center; font-weight:bold;  width:284px;}
#header .banner .nav1 .nav_r2{ width:141px; height:100px; background:url(../images/bannerbg1.jpg) repeat-x; border:1px solid #D6D6D6; border-top:none; border-left:none; float:left; line-height:100px; text-align:center;}
#header .banner .nav1 .nav_r3{ width:141px; height:100px; background:url(../images/bannerbg1.jpg) repeat-x; border-bottom:1px solid #D6D6D6; float:left; line-height:100px; text-align:center; }
#header .banner .nav1 .nav_r3 a{color:#545454; font-size:20px;  font-family:"풕턼환쥌";}
#header .banner .nav1 .nav_r3 a:hover{ font-size:24px;}
#header .banner .nav1 .nav_r2 a{color:#545454; font-size:20px;  font-family:"풕턼환쥌";}
#header .banner .nav1 .nav_r2 a:hover{ font-size:24px;}
#header .banner .bg{ background:url(../images/bannerbg.jpg); width:220px!important;width:190px; height:369px; float:left;}
#header .jbdh{ width:998px; margin:0 auto; clear:both; border:1px solid #D5D5D5; border-top:none; border-right:none;}

#header .b1{width:1009px; background:#FFFFFF; margin:0px auto;}
#header .jbdh .gzjb{ width:165px; border-right:1px solid #D9E0E5; float:left; color:#686767;}
#header .jbdh .gzjb .fm{ background:url(../images/jhsy.jpg) no-repeat; height:42px; text-align:center; line-height:42px; }
#header .jbdh .gzjb .fm a{ color:#fff; font-size:20px;font-family:"풕턼환쥌"; padding-left:12px;}
#header .jbdh .gzjb .fm a:hover{ font-size:22px;  padding-left:12px;}
#header .jbdh .gzjb .jb{width:165px; text-align:center; line-height:26px; background:#F9FAFA url(../images/dhbg.jpg) repeat-x; height:77px; padding-top:10px;}
#header .jbdh .gzjb .jb a{ font-size:14px; color:#000000;}
#header .jbdh .gzjb .jb a:hover{ text-decoration:underline;}


#header .jbdh .gzjb1{ width:165px; border-right:1px solid #D9E0E5; float:left; color:#686767;}
#header .jbdh .gzjb1 .fm{ background:url(../images/fkzx.jpg) no-repeat; height:42px; text-align:center; line-height:42px;}
#header .jbdh .gzjb1 .fm a{ color:#fff; font-size:20px;font-family:"풕턼환쥌"; padding-left:30px;}
#header .jbdh .gzjb1 .fm a:hover{ font-size:22px;  padding-left:30px;}
#header .jbdh .gzjb1 .jb{width:165px; text-align:center; line-height:26px; height:77px; background:#F9FAFA url(../images/dhbg.jpg) repeat-x; padding-top:10px;}
#header .jbdh .gzjb1 .jb a{ font-size:14px; color:#000000;}
#header .jbdh .gzjb1 .jb a:hover{ text-decoration:underline;}


#header .jbdh .gzjb2{ width:165px; border-right:1px solid #D9E0E5; float:left; color:#686767;}
#header .jbdh .gzjb2 .fm{ background:url(../images/jhsy.jpg) no-repeat;height:42px; text-align:center; line-height:42px;}
#header .jbdh .gzjb2 .fm a{ color:#fff; font-size:20px;font-family:"풕턼환쥌"; padding-left:12px;}
#header .jbdh .gzjb2 .fm a:hover{ font-size:22px; padding-left:12px;}
#header .jbdh .gzjb2 .jb{width:165px; text-align:center; line-height:26px; height:77px; background:#F9FAFA url(../images/dhbg.jpg) repeat-x; padding-top:10px;}
#header .jbdh .gzjb2 .jb a{ font-size:14px; color:#000000;}
#header .jbdh .gzjb2 .jb a:hover{ text-decoration:underline;}

#header .jbdh .gzjb3{ width:165px; border-right:1px solid #D9E0E5; float:left; color:#686767;}
#header .jbdh .gzjb3 .fm{ background:url(../images/byby.jpg) no-repeat; height:42px; text-align:center; line-height:42px;}
#header .jbdh .gzjb3 .fm a{ color:#fff; font-size:20px;font-family:"풕턼환쥌"; padding-left:30px;}
#header .jbdh .gzjb3 .fm a:hover{ font-size:22px;  padding-left:30px;}
#header .jbdh .gzjb3 .jb{width:165px; text-align:center; line-height:26px; height:77px; background:#F9FAFA url(../images/dhbg.jpg) repeat-x; padding-top:10px;}
#header .jbdh .gzjb3 .jb a{ font-size:14px; color:#000000;}
#header .jbdh .gzjb3 .jb a:hover{ text-decoration:underline;}


#header .jbdh .gzjb5{ width:166px; border-right:1px solid #D9E0E5; float:left; color:#686767;}
#header .jbdh .gzjb5 .fm{ background:url(../images/smzx.jpg) no-repeat; height:42px; text-align:center; line-height:42px;}
#header .jbdh .gzjb5 .fm a{ color:#fff; font-size:20px;font-family:"풕턼환쥌"; padding-left:12px;}
#header .jbdh .gzjb5 .fm a:hover{ font-size:22px;  padding-left:12px;}
#header .jbdh .gzjb5 .jb{width:166px; text-align:center; line-height:26px; height:77px; background:#F9FAFA url(../images/dhbg.jpg) repeat-x; padding-top:10px;}
#header .jbdh .gzjb5 .jb a{ font-size:14px; color:#000000;}
#header .jbdh .gzjb5 .jb a:hover{ text-decoration:underline;}

#header .jbdh .gzjb6{ width:166px; border-right:1px solid #D9E0E5; float:left; color:#686767;}
#header .jbdh .gzjb6 .fm{ background:url(../images/xb.jpg) no-repeat; height:42px; text-align:center; line-height:42px;}
#header .jbdh .gzjb6 .fm a{ color:#fff; font-size:20px;font-family:"풕턼환쥌"; padding-left:30px;}
#header .jbdh .gzjb6 .fm a:hover{ font-size:22px;  padding-left:35px;}
#header .jbdh .gzjb6 .jb{width:166px; text-align:center; line-height:26px; height:77px; background:#F9FAFA url(../images/dhbg.jpg) repeat-x; padding-top:10px;}
#header .jbdh .gzjb6 .jb a{ font-size:14px; color:#000000;}
#header .jbdh .gzjb6 .jb a:hover{ text-decoration:underline;}


#footer{width:1009px; margin:0 auto; clear:both; background:#FFFFFF; height:180px;}
#footer ul .navfoot{ background:#009896; height:39px;}
#footer ul .navfoot div{ width:1000px; margin:0 auto;color:#fff; text-align:center; line-height:39px; font-size:14px;}
#footer ul .navfoot div a{ font-size:14px; color:#fff; margin:0 5px; }
#footer ul .navfoot div a:hover{ text-decoration:none;}
#footer ul .dbfoot{ margin:0 auto; width:1000px;}
#footer ul .dbfoot img{ float:left; margin:25px 0 0 10px; display:inline;}
#footer ul .dbfoot p{ height:24px;}
#footer ul .dbfoot .wz{ float:left; height:100px; padding:20px 0 0 10px;}




