@charset "gb2312";
/* CSS Document */


@import "../css/head_foot.css"; 

#content{ width:100%; margin:0 auto;}
#content .cnt0{background:#FFFFFF; width:1009px; margin:0px auto;}
#content .cnt01{ height:17px;}
#content .cnt1{width:996px; margin:0px auto 0px; border:#c2e5e5 1px solid; height:315px;}
#content .cnt1 .cnt1_left{ width:238px; height:315px; border-right:#c2e5e5 1px solid; float:left;}
#content .cnt1 .cnt1_left span{ BACKGROUND: url(../images/m22.jpg) no-repeat;font-family:"微软雅黑"; font-size:18px; text-align:center; width:238px; display:block; line-height:42px;}
#content .cnt1 .cnt1_left .c1_01{ margin:0 auto; width:199px;}
#content .cnt1 .cnt1_left p{ text-indent:2em; line-height:20px; width:221px; margin:10px auto; word-break:break-all;}
#content .cnt1 .cnt1_left p a{ color:#FF0000;}

.c2{ width:346px;height:314px; background:#ffffff; float:right; overflow:hidden; border: 1px solid #c2e5e5;}
.newstitle {HEIGHT: 42px; width:346px; margin:0 auto;}
.newstitle H2 {FLOAT: left; HEIGHT: 42px; text-align:center; line-height:42px; font-family:"微软雅黑"; font-size:18px;}
.newstitle H2.hover A {	COLOR: #047687; height:42px;  WIDTH: 173px; text-align:center; display:block; line-height:42px;}
.newstitle H2#new01 { WIDTH: 173px; BACKGROUND: url(../images/m3.jpg) no-repeat; height:42px;}
.newstitle H2.hover#new01 {	BACKGROUND: url(../images/m2.jpg) no-repeat; width:173px; height:42px;}
.newstitle H2#new02 { WIDTH: 173px; BACKGROUND: url(../images/m3.jpg) no-repeat; height:42px; text-align:center; line-height:42px;}
.newstitle H2.hover#new02 {	BACKGROUND: url(../images/m2.jpg) no-repeat; width:173px; height:42px; }
.newscont {	PADDING-BOTTOM: 11px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; ZOOM: 1; HEIGHT: auto; OVERFLOW: hidden; PADDING-TOP: 10px;}
.newscont H3 {TEXT-ALIGN: center; LINE-HEIGHT: 24px;  FLOAT: left; COLOR: #2a6807; FONT-SIZE: 16px; width:330px; FONT-WEIGHT: bold;}
.newscont H3 A {COLOR: #1c7ba7;}
.newscont P {LINE-HEIGHT: 24px; TEXT-INDENT: 2em; FLOAT: left;font-size:12px;height:68px;width:330px;overflow:hidden;}
.newscont P a{color:#FF0000;}
.newscont UL {FLOAT: left; PADDING-TOP: 5px;}
.news .newscont UL LI {	BORDER-BOTTOM: #ccc 1px dashed; LINE-HEIGHT: 28px; WIDTH: 320px; FLOAT: left; FONT-SIZE: 13px;text-align:left;}
.news .newscont UL LI .riqi{float:right;}

#news_pic{ width:390px; height:314px; float:left; display:inline; background-color:#edf9f8; border: 1px solid #c2e5e5; margin-left:8px;}
#news_pic #ifocus_pic{ width:378px; height:247px; position:relative; left:3px; top:3px; display:inline; float:left; overflow:hidden;}
#news_pic #ifocus_piclist{ z-index:1; position:absolute;}
#news_pic #ifocus_piclist li{ width:378px; height:247px; overflow:hidden;}
#news_pic #ifocus_piclist img{ width:378px; height:247px;}
#news_pic #ifocus_btn{ width:626px; height:81px; z-index:3; padding-left:6px;}
#news_pic #ifocus_btn li{ width:auto; height:auto; filter:alpha(opacity=50); padding-bottom:0px; margin-top:10px; padding-left:3px; padding-right:7px; display:block; float:left; cursor:pointer; padding-top:0px; opacity:0.5; -moz-opacity:0.5;}
#news_pic #ifocus_btn img{ width:144px; height:81px; padding:1px;}
#news_pic #ifocus_btn .current { text-align:left; filter:alpha(opacity=100); margin-top:0px; display:block; float:left; opacity:1; -moz-opacity:1;}
#news_pic #ifocus_btn .current img{ width:144px; height:81px; border:1px solid #CCC; position:relative; top:8px; padding:1px;}

#content .cnt2{width:996px; margin:0px auto 0px; border:#c2e5e5 1px solid; height:194px;}
#content .cnt2_01{ float:left; background:url(../images/cnt2_07.jpg) no-repeat; width:172px; height:191px;}

/*荣誉*/
.zjtd{ height:140px; width:824px; float:left;}
.blk_18 { OVERFLOW: hidden; WIDTH: 800px; ZOOM: 1; position:relative; top:35px;}
.blk_18 a img {	border:none;}
.blk_18 a{ text-decoration:none; position:relative;}
.blk_18 a span{ font-size:12px; color:#823c16; position:absolute; bottom:4px; left:50%; margin-left:-80px;}
.blk_18 .pcont {FLOAT: left; display:inline; OVERFLOW: hidden; WIDTH: 720px; position:relative; left:20px;}
.blk_18 .ScrCont { WIDTH: 32766px; ZOOM: 1}
.blk_18 #List1_1 {FLOAT: left;display:inline;}
.blk_18 #List2_1 {FLOAT: left;display:inline;}
.blk_18 .LeftBotton {MARGIN-TOP: 50px; FLOAT: left; display:inline; }
.blk_18 .RightBotton {MARGIN-TOP: 50px; FLOAT: left; display:inline; background:url(../images/cnt2_02.jpg) no-repeat; width:16px; height:34px;}
.blk_18 .LeftBotton IMG {FLOAT: left;display:inline;}
.blk_18 .RightBotton {FLOAT: right;display:inline;}
.blk_18 .pl {DISPLAY: inline;FLOAT: left; display:inline;margin-left:10px;overflow:hidden;}
.blk_18 A.pl:hover {}
.zjpic{ float:left;}
.zj_js{ float:left; border:1px solid #087549; border-left:none; padding-left:10px; width:116px; height:200px;}
.zj_js h3{ color:#0C905A; margin:4px 0 10px 0;}
.js-zj{ margin:12px 0; line-height:22px; text-indent:2em; font-size:12px; color:#666666;}
.blk_18 .pl IMG {DISPLAY: block;	CURSOR: pointer;}
.zx_zj{ overflow:hidden;}
.zx_zj a{ display:block; background:url(../images/ico.png) -0px -197px; width:52px; height:17px; line-height:17px; float:left; text-align:center; font-size:12px; color:#fff;}
.LeftBotton{background:url(../images/cnt2_01.jpg) no-repeat; width:16px; height:34px;}
/*荣誉*/


/*专家团队*/
.cnt3_01{width:1000px; height:56px; margin:0 auto;}
.cnt3_02{ width:999px; height:326px; margin:0px auto 0px;}
.cnt3_02left{ width:307px; height:321px; float:left;}
.cnt3_02left01{ width:307px; height:159px;border:#c2e5e5 1px solid; background:#f2fbfa;}
.c3_01{float:left; padding-top:6px; padding-left:6px;}
.c3_02{font-family:"微软雅黑"; font-size:14px; font-weight:bold; padding-top:9px; padding-left:123px; line-height:30px;}
.c3_02 span{ font-family:"新宋体"; font-weight:normal; font-size:12px; padding-left:10px;}
.c3_03{font-family:"新宋体"; font-size:12px; padding-left:123px; line-height:20px;}
.c3_03 span{color:#FF0000;}
.c3_03 a{color:#FF0000;}
.c3_04{padding-left:123px; padding-top:20px;}
.cnt3_02left02{ width:307px; height:159px;border:#c2e5e5 1px solid; background:#f2fbfa; margin-top:5px;}
.cnt3_main{ width:374px; height:325px; border:#c2e5e5 1px solid; float:left; margin-left:5px!important;margin-left:3px;}
.cnt3_main p{ line-height:25px; text-indent:2em; width:351px; height:123px; margin:20px auto 0px;}
.cnt3_02right{width:307px; height:321px; float:right;}
.cnt3_02right01{ width:307px; height:159px;border:#c2e5e5 1px solid; background:#f2fbfa;}
.cnt3_02right02{ width:307px; height:159px;border:#c2e5e5 1px solid; background:#f2fbfa; margin-top:5px;}
.cnt4_01{width:1000px; height:45px; margin:0 auto;}
/*专家团队*/


/*技术切换*/
.surg_war{width:996px; margin:0px auto 0px; height:275px;}
.surg{ width:996px; height:100%; overflow:hidden;}
.surg_left{ width:242px; float:left; }
.surg_left li{width:242px; height:87px; float:left; margin-bottom:4px; position:relative;}
.surg_left li h2{font-size:16px; font-family:"微软雅黑";display:inline; color:#1da6ba; line-height:25px; position:absolute; top:20px; left:27px; font-weight:normal;}
.surg_left li a{ background:url(../images/cnt4_03.jpg) no-repeat; display:block; width:242px; height:87px; }
.surg_left li span{line-height:25px; text-align:center; position:absolute; top:50px; left:30px;}
.surg_left li a:hover{background:url(../images/cnt4_02.jpg) no-repeat; display:block; text-decoration:none; color:#282828;}
.surg_left li a.hover{background:url(../images/cnt4_02.jpg) no-repeat; display:block; text-decoration:none; color:#282828;}

.surg_nr{ width:483px; padding-left:12px; padding-right:12px; height:260px; float:left;display:inline; font-size:12px; line-height:22px;}
.sirg_dot_01{ height:77px; border:#c2e5e5 1px solid; font-size:12px; padding-top:7px; margin:3px auto 0px; padding-left:3px; padding-right:3px;}
.sirg_dot_01 a{ color:#FF0000;}
.cnt4_02{ background:url(../images/cnt4_04.jpg) no-repeat; width:483px; height:175px; margin:5px auto 0px;}
.cnt4_02 p{ width:251px; padding-top:20px; padding-left:36px;}
.cnt4_02 span{font-weight:bold;}
.cnt4_03{ background:url(../images/c01.jpg) no-repeat; width:483px; height:175px; margin:5px auto 0px;}
.cnt4_03 p{ width:251px; padding-top:20px; padding-left:36px;}
.cnt4_03 span{font-weight:bold;}
.cnt4_04{ background:url(../images/c02.jpg) no-repeat; width:483px; height:175px; margin:5px auto 0px;}
.cnt4_04 p{ width:251px; padding-top:20px; padding-left:36px;}
.cnt4_04 span{font-weight:bold;}
.cnt4_05{ background:url(../images/c03.jpg) no-repeat; width:483px; height:175px; margin:5px auto 0px;}
.cnt4_05 p{ width:251px; padding-top:20px; padding-left:36px;}
.cnt4_05 span{font-weight:bold;}
.cnt4_06{ background:url(../images/c04.jpg) no-repeat; width:483px; height:175px; margin:5px auto 0px;}
.cnt4_06 p{ width:251px; padding-top:2px; padding-left:36px;}
.cnt4_06 span{font-weight:bold;}
.cnt4_07{ background:url(../images/c05.jpg) no-repeat; width:483px; height:175px; margin:5px auto 0px;}
.cnt4_07 p{ width:251px; padding-top:20px; padding-left:36px;}
.cnt4_07 span{font-weight:bold;}

.surg_right{ width:242px; float:left;}
.surg_right li{width:242px; height:87px; float:left; margin-bottom:4px; position:relative;}
.surg_right li h2{font-size:16px; font-family:"微软雅黑"; margin-bottom:3px; display:inline; color:#1da6ba; line-height:25px; position:absolute; top:20px; left:27px; font-weight:normal;}
.surg_right li a{background:url(../images/cnt4_03.jpg) no-repeat; display:block; width:242px;  height:87px;}
.surg_right li span{line-height:25px; text-align:center; position:absolute; top:50px; left:30px;}
.surg_right li a:hover{background:url(../images/cnt4_02.jpg) no-repeat; display:block; text-decoration:none; color:#282828;}
/*技术切换*/

/*精品科室*/
.cnt5_01{ width:1000px; height:45px; margin:0 auto;}
.cont3{ width:996px; height:390px; margin:0 auto}
.con3{ width:996px; height:323px; border:#c2e5e5 solid 1px; margin:0 auto;}

.bdr{  margin:0 auto; overflow:hidden;}
.bdr .body{}
.bigType{width:996px; overflow:hidden; height:51px;}
.fkks_2 {MARGIN: 6px 0px 0px 6px; WIDTH: 248px; FLOAT: left;}
.bigType a{ background:url(../images/cnt5_02.jpg) no-repeat;width:166px;display:block; font-size:20px; line-height:45px; height:51px; text-align:center; COLOR: #1494cf; float:left; font-family:"微软雅黑";}
.bigType .c{background:url(../images/m19.jpg) 0 0 no-repeat; color:#fff; }
.bCon{margin:14px 2px 2px 2px; padding-bottom:0px; width:450px; height:240px; float:left;  overflow:hidden; position:relative;}
.bCon .head{ width:470px; height:36px; }
.bCon .head dd{float:left; display:inline; margin-left:10px; width:auto;}
.bCon .head a{float:left; display:inline; margin:0px 20px; width:auto;COLOR: #1494cf; background:none; font:1.2em  "宋体"; line-height:36px;}
.bCon .head a:hover, .bCon .head a:active{  position:static; }
.bCon .head .l, .bCon .head .r{width:0px; height:0px; display:none;}

.bCon .description{float:right; display:inline; width:430px;  height:40px}
.bCon .description a{ color:#FF0000;}
.bCon h3{font:1.3em "微软雅黑", "宋体"; line-height:2.7; height:40px;width:420px; margin-left:20px }
.bCon h3 a{color:#f00;}
.bCon .description{ text-indent:2em; }
.bCon .arc{margin:10px auto 0px 15px; width:450px; border-top:#dedede 1px dashed; overflow:hidden;}
.bCon .arc dl{width:100%; overflow:hidden; font:1em "宋体"; line-height:2;}
.bCon .arc dl dd{float:left; display:inline; width:200px;}
.bCon .arc dl dd span{ color:#298A77;}
.bCon .arc dl dd.at{padding-left:20px; width:70px; color:#1e486e; background:url(../images/diseaseARc.jpg) 0 50% no-repeat;}
.bCon .arc dl dd.at a{color:#1e486e}
.bCon .arc dl dd.at a:hover{color:#F00;}
.fkks_4{ width:268px; height:240px; border:#C2E5E5 solid 1px; float:right;margin-top:5px; overflow:hidden}
.fkan{ width:268px; height:30px; line-height:30px; background:#1c7ba7; color:#fff; text-align:center; font-size:15px; font-weight:bold; }
.fka2{ background:url(../images/anlibg.jpg) no-repeat; width:267px; height:209px}
.fka2 img{ margin:10px 15px}
.p10{ margin:5px 15px;}
.p11{ margin:0 10px; font-size:12px; text-indent:2em; line-height:20px;}


/*医院环境*/
#Tail{height:auto; width:100%; margin:auto; margin-top:8px; overflow:hidden; clear:both;}
.cv{width:1000px; margin:0px auto;}
#Tail .yyqy{ height:265px; width:998px; margin:auto;  border: 1px solid #6fb9b6;}
#Tail .yyqy h3 {background:url(../images/yyqyqh.jpg) no-repeat; height: 265px; width:187px; float:left;}
#Tail .yyqy h3 a { display: block;float: left;font-weight: normal;height: 66px; width:187px;line-height: 29px;text-align: center;}
#Tail .yyqy h3 .a_hover_0 {background:url(../images/hover_yyqh.jpg) no-repeat; width:187px; height:66px;}
#Tail .yyqy h3 .a_hover_1 {background:url(../images/hover_yyqh.jpg) 0px -66px no-repeat; width:187px; height:66px;}
#Tail .yyqy h3 .a_hover_2 {background:url(../images/hover_yyqh.jpg) 0px -133px  no-repeat; width:187px; height:66px;}
#Tail .yyqy h3 .a_hover_3 {background:url(../images/hover_yyqh.jpg) 0px -199px  no-repeat; width:187px; height:66px;}
#Tail .yyqy .yykd{ width:800px; height:265px; float:right;}
#Tail .yyqy .yykd .ucent {font-size: 14px; padding:8px 8px 0px 0px; line-height:25px;}
#Tail .yyqy .yykd .ucent img {float: right;margin-left: 10px;}
#Tail .yyqy .yykd .ucent strong {color: #016850;font-size: 14px;padding-bottom: 1px;}
#Tail .yyqy .yykd .ucjp{padding:8px 8px 0px 0px; width:783px; height:105px;  overflow:hidden; clear:both;}
#Tail .yyqy .yykd .ucjp li {float: left;line-height: 15px;text-align: center;width: 150px; height:105px; margin-right:15px; overflow:hidden;}

#Tail .yyqy .yykd .ucup{padding:8px 8px 0px 0px; width:783px; /*height:100px;*/  overflow:hidden; clear:both;}
#Tail .yyqy .yykd .ucup li {float: left;line-height: 15px;text-align: center;width: 96px; height:92px; margin-right:15px; overflow:hidden;}
#Tail2_0{margin:10px auto 0px;}
#Tail2_1{margin:8px auto 0px;}

#Tail .hzhb{ height:169px; width:998px; margin:auto;margin-top:8px; border: 1px solid #6fb9b6; overflow:hidden;}
#Tail .hzhb h3{height:39px; border-bottom:1px solid #6fb9b6; font-size:14px;}
#Tail .hzhb h3 a { display: block;float: left;font-weight: normal;height: 39px; width:117px; line-height: 39px;text-align: center; border-right:1px solid #6fb9b6; font-weight:bold;}
#Tail .hzhb h3 .a_hover{ background:url(../images/hoverhd.jpg) no-repeat; height:45px; width:117px;line-height: 45px;color: #ffffff; }
#Tail .hzhb .wid_hdlink{ width:982px; padding:8px; height:153px;}
#Tail .hzhb .wid_hdlink ul li {float: left;margin-right: 16px; margin-left:12px; padding-top:10px;}
#Tail .hzhb .wid_hdlink a{ margin:0px 8px 6px 8px;}

#DB_Tail{height:275px; width:100%; margin:auto; background:url(../images/TailBG.jpg) repeat-x; margin-top:8px; overflow:hidden; clear:both;}
#DB_Tail .Ta_nr{height:275px; width:1000px;  margin:auto;}
#DB_Tail .Ta_nr .dh{ background:url(../images/Ta_nrdh.jpg) no-repeat; height:37px; width:1000px; text-align:center; } 
#DB_Tail .Ta_nr .dh p a {padding: 0 14px; line-height:37px; font-size:14px;}
#DB_Tail .Ta_nr .nr{ height:215px; width:1000px; margin:auto;margin-top:12px;}
#DB_Tail .Ta_nr .nr .logo{ height:215px; width:263px; float:left; }
#DB_Tail .Ta_nr .nr .bazx{ float:right; width:717px; color:#FFF;}
/*#DB_Tail .Ta_nr .nr .bazx a{ float:left;display: inline; margin-top:12px;margin-right: 12px;}*/





