@charset "UTF-8";
#classification header{line-height: 12px;background-color: #fff;border-bottom: 1px solid #ccc;padding: 25px 10px;}
#classification a{float: left;color: #000;padding: 0 17px;border-left: 1px solid #ccc;text-align: center;}
#classification a:first-of-type{border-left: 0;}
#classification .menu{width: 15px;height: 12px;background: url(../images/icon.png) no-repeat;background-position: -18px -72px;background-size: 150px 150px;}
#classification
#classification
#classification
#classification
#classification
#classification
#classification
#classification
#classification
#classification
#classification
#classification
#classification
#classification
#classification
#classification
#classification