@charset "UTF-8";
body{background: url(../images/index_bg.jpg) center top #0d0d0d no-repeat;background-size: cover;}
.title{text-align: center;margin-top: 29px;font-size: 1.3rem;}
.logo{width: 5.425rem;height: 5.425rem;left: 5.3rem;top: 10.025rem;}
.story{width: 3.1rem;height: 3.1rem;top: 4.725rem;left: 6.45rem;line-height: 3.1rem;font-size: .7rem;}
.plant,.nutrition{width: 2.55rem;height: 2.55rem;top: 7.2rem;line-height: 2.55rem;font-size: .65rem;}
.plant{left: 1.65rem;}
.nutrition{right: 1.8rem;}

.logo,.story,.plant,.nutrition{background-color: #4c4c4c;border-radius: 50%;border: 5px solid rgba(255,255,255,.5);position: absolute;text-align: center;text-align: center;color: #fff;}