@charset "UTF-8";
body{background-color: #f0f0f0;}
/*头部*/
header{height: 50px;line-height: 50px;border-bottom: 1px solid #cacaca;font-size: 14px;padding: 0 10px;background-color: #fff;top: 0;}
header,footer{width: 100%;position: fixed;left: 0;z-index: 2;-webkit-box-sizing: border-box;box-sizing: border-box;}
header .btnBox{float: right;margin-top: 10px;}
header .btn{height: 28px;border: 1px solid #ccc;color: #000;padding: 0 20px;float: left;line-height: 28px;}
header .btn:first-child{margin-right: 20px;}
/*产品*/
.productBox{border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;background-color: #fff;margin-bottom: 10px;}
.productBox:first-of-type{margin-top: 60px;}
.productBox:last-of-type{margin-bottom: 70px;}
.product{/*height: 157px;*/border-bottom: 1px solid #ccc;padding: 20px 10px 0 10px;}
.pro-content{height: 4.2rem;position: relative;}
.product .radio{position: absolute;top: 50%;}
.checkbox{width: 18px;height: 18px;background: url(../images/icon.png) no-repeat;background-size: 150px 150px;-webkit-appearance: none;border: 0;}
.checkbox:checked{background-position: 0 -18px;}
.product .proImg{width: 4.25rem;height: 4.25rem;float: left;margin-left: 27px;margin-right: 12px;position: absolute;bottom: 0;}
.product .proImg img{width: 100%;height: 100%;}
.product .pro-text{float: left;width: 8.8rem;margin-left: 6.025rem;}
.product .pro-text .title{font-size: .6rem;font-weight: normal;}
.product .pro-text .content{font-size: .6rem;margin: 10px 0;}
.product .pro-text .price{color: #ff4400;margin-bottom: 20px;font-size: .75rem;}
.product .pro-text .price b{color: #666;text-decoration: line-through;margin-left: 30px;font-size: .6rem;}
.number-control{border: 1px solid #cdcdcd;height: 1.95rem;line-height: 1.95rem;float: left;vertical-align: middle;overflow: hidden;margin-bottom: 15px;margin-left: 6.025rem;}
.number-control .decrease,.number-control .increase{height: 100%;width: 1.95rem;background-color: #efefef;color: #767676;-webkit-user-select: none;display: inline-block;font-size: 1rem;border: none;}
.number-control .decrease{border-left: 1px solid #cdcdcd;}
.number-control .increase{border-right: 1px solid #cdcdcd;}
.number-control .num{height: 100%;width: 2.75rem;padding: 0 .2rem;-webkit-box-sizing: border-box;box-sizing: border-box;border: none;}
.number-control .decrease,.number-control .increase,.number-control .num{text-align: center;float: left;}
.productBox .count{float: right;font-size: 0;height: 50px;line-height: 50px;padding: 0 10px;}
.productBox .count p,.productBox .count span{display: inline-block;font-size: 14px;}
.productBox .count p{margin-right: 10px;}
.productBox .count p em{font-style: normal;}
.productBox .count span b{color: #ff4400;}
/*底部*/
footer{height: 50px;line-height: 50px;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;font-size: 0;overflow: hidden;bottom: 0;background-color: #fff;}
footer .checkAll{margin-left: 10px;margin-right: 13px;}
footer .checkAll .checkbox{margin-right: 5px;margin-top: -2px;}
footer .checkAll,footer p{display: inline-block;font-size: .6rem;}
footer p span{margin-right: .35rem;color: #ff4401;}
footer .submit{width: 77px;height: 100%;background-color: #696969;color: #fff;font-size: 14px;/*padding: 0 25px;*/float: right;margin-bottom: 10px;text-align: center;}
footer .submit em{font-style: normal;}
/*无商品状态*/
.no-goods .shopping-icon{width: 4.375rem;height: 4.375rem;line-height: 4.375rem;background-color: #d8d8d8;margin: 81px auto 0;border-radius: 999px;text-align: center;}
.no-goods .shopping-icon img{width: 2.725rem;}
.no-goods .text1{height: 28px;line-height: 28px;text-align: center;font-size: .75rem;padding: 7px 0;}
.no-goods .text2{height: 22px;line-height: 22px;text-align: center;font-size: .6rem;color: #999;}
.no-goods .btnBox{width: 12rem;margin: 20px auto 40px;}
.no-goods .btnBox a{width: 5.5rem;height: 40px;line-height: 40px;text-align: center;font-size: .6rem;color: #000;border: 1px solid #a8a8a8;float: left;}
.no-goods .btnBox a:first-of-type{margin-right: .5rem;}
/*悬浮状态*/
.shopping-menuBox{width: 45px;height: 45px;position: fixed;bottom: 93px;right: 0;z-index: 9;}
.shopping-menu{width: 45px;height: 45px;background: rgba(0,0,0,.8);text-align: center;display: block;}
.shopping-menu .shopping-menuIcon{width: 27px;height: 27px;margin-top: 9px;background: url(../images/icon.png) no-repeat;background-size: 150px 150px;background-position: -66px -112px;display: inline-block;}
.shopping-menuBox .menuList{width: 80px;background-color: #fff;padding: 0 10px 0 15px;border: 1px solid #d9d9d9;position: absolute;right: 0;bottom: 50px;display: none;}
.shopping-menuBox .menuList a{/*height: 44px;line-height: 44px;*/padding: .5rem 0 .6rem 0;color: #585858;display: block;border-bottom: 1px solid #d9d9d9;font-size: 14px;}
.shopping-menuBox .menuList a:last-of-type{border-bottom: 0;}
.shopping-menuBox .arrow{ position:absolute; width:12px; height:12px; bottom:-12px; right: 22%; }
.shopping-menuBox .arrow *{ display:block; border-width:6px; position:absolute; border-style:solid dashed dashed dashed; font-size:0; line-height:0; }
.shopping-menuBox .arrow em{border-color:#fff transparent transparent;}
.shopping-menuBox .arrow span{border-color:#d9d9d9 transparent transparent;}
/*.shopping-menuBox .arrow:after,.shopping-menuBox .arrow:before{border: transparent solid;content:' ';height:0;left:100%;position:absolute;width:0;}
.shopping-menuBox .arrow:after{border-width:9px;border-top-color:#fff;top:15px;}
.shopping-menuBox .arrow:before{border-width:14px;border-top-color:#d9d9d9;top:10px;}*/
/*悬浮状态图标*/
.back-icon,.goods-icon,.store-icon,.cart-icon,.my-icon,.team-icon,.center-icon{width: 16px;height: 16px;background: url(../images/icon.png) no-repeat;background-size: 150px 150px;display: inline-block;vertical-align: middle;margin-right: 8px;margin-top: -3px;}
.back-icon{background-position: -90px -21px;}
.goods-icon{width: 16px;background-position: -90px -43px;}
.store-icon{height: 16px;background-position: -111px -22px;}
.cart-icon{background-position: -111px -43px;}
.my-icon{height: 16px;background-position: -131px -21px;}
.team-icon{background-position: -132px -43px;}
.center-icon{height: 16px;background-position: -111px -67px;}