@charset "UTF-8";
/*店铺活动*/
#shop{padding: 10px;box-sizing: border-box;}
#shop .activityCont{border: 1px solid #d9d9d9;background-color: #fff;padding: 11px 7px;margin-bottom: 10px;}
#shop .date{font-size: 14px;color: #333;margin-bottom: 11px;}
#shop .activity-img{margin-bottom: 5px;}
#shop .activity-text{color: #333;font-size: 14px;line-height: 30px;padding-bottom: 10px;border-bottom: 1px solid #d6d6d6;margin-bottom: 10px;}
#shop .read a{color: #000;font-size: 16px}
#shop .read-text{font-weight: bold;margin-left: 3px;;float: left;}
#shop .more{float: right;font-style: normal;color: #ccc;margin-right: 2px;}
/*活动文章页*/
#shop .title{font-size: 20px;}
#shop .time{color: #6c6c6c;font-size: 16px;line-height: 30px;border-bottom: 1px solid #c0c0c0;margin-bottom: 10px;}
#shop .article-text{margin: 18px 0 16px 0;font-size: 14px;text-indent: 2em;}
#shop .article-img{display: block;}
#shop
#shop
#shop
#shop
#shop
#shop
#shop
#shop
#shop
#shop
#shop
#shop
#shop
#shop
#shop
#shop
#shop
#shop




























