@charset "UTF-8";
/*活动说明*/
.page{background: #69b3f2 url(images/instruction_bg.jpg) no-repeat 50%;-webkit-background-size: contain;background-size: contain;overflow: hidden;}
.main{padding: 0 18px;color: #fff;}
.main .title{font-size: 30px;text-align: center;margin-bottom: 17px;}
.main dl{margin-bottom: 18px;}
.main dt{font-size: 22px;font-weight: 700;}
.main dd{text-indent: 27px;font-size: 16px;line-height: 34px;}
.button{width: 50%;height: 40px;background-color: #de5527;font: 24px/40px sans-serif;text-align: center;border-radius: 4px;margin: 22px auto;border-bottom: 2px solid #c83f10;display: block;color: #fff;}