@charset "UTF-8";
/*活动说明*/
.page{background-color: #68b3f3;overflow: hidden;}
.main_title{height: 65px;background: url(../images/ranking_list_title.png) center top no-repeat;background-size: contain;margin: 20px 0;}
.nav{/*overflow: hidden;*/margin-bottom: 10px;}
.nav a{color: #fff;font-size: .8rem;font-family: 'hylxtt';text-align: center;width: 33%;float: left;height: 34px;}
.nav .current{color: #ffcb64;text-shadow: 2px 2px 0px #fff,-1px -2px 0px #fff;/*-webkit-text-stroke: 1px #fff;text-stroke: 1px #fff;*/}
.mainCont{background-color: #fff;margin-bottom: 20px;}
/*默认只显示第一个ul*/
.mainCont ul{display: none;}
.mainCont li{border-bottom: 1px solid #68b3f3;}
.mainCont .default{font-size: 0;font: 16px/54px '\5FAE\8F6F\96C5\9ED1';}
.mainCont .default span,.mainCont .default strong,.mainCont .detail span,.mainCont .detail em,.mainCont .detail p{float: left;}
.mainCont .default>.num{width: 50px;text-align: center;color: #505050;}
.mainCont .default>.title{color: #000;text-indent: 12px;}
.mainCont .default>.votes,.mainCont .detail>.votes{float: right;font-style: normal;margin-right: 10px;color: #505050;font-size: 16px;}
.mainCont .detail>.votes{margin-top: 14px;}
.mainCont .detail{padding: 10px 0;}
.mainCont .detail{display: none;}
.mainCont .detail>.num{background: url(../images/icon.png) no-repeat;background-size: 260px 135px;margin: 30px 20px 0 10px;}
.mainCont .detail>.one{width: 31px;height: 27px;background-position: 0 -53px;}
.mainCont .detail>.two{width: 24px;height: 32px;background-position: -34px -53px;}
.mainCont .detail>.three{width: 24px;height: 29px;background-position: -62px -53px;}
.mainCont .detail>.title{width: 41%;margin-top: 7px;}
.mainCont .detail>.title strong{font-size: 16px;display: block;}
.mainCont .detail>.title span{width: 100%;font-size: 14px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: block;color: #505050;}
.mainCont .detail .face{width: 43px;height: 50px;margin-top: 14px;margin-right: 22px;}
.mainCont .detail>.votes{width: 50px;}













