@charset "UTF-8";
/**
 * 头部-排序列表，全部分类的弹出层
 * @date    2015-09-18 17:00:03
 */



/* @头部-排序_20150914
 -----------------------------------------------------*/
.header-sort{padding:0;height:45px;line-height:45px;z-index:11;background-color:#fafafa;}
.header-sort .all-sort{width:45px;position:relative;}
.header-sort .all-sort a{display: block;height:44px;width:42px;background:url(../images/select-sort.png) no-repeat 0 0;background-size:100% 100%;}
.header-sort .line{font-size:12px;color:#c8c8c8;position:absolute;right:0;top:0;height:45px}
.header-sort .sort-list{margin-left:45px;}
.header-sort .sort-list li{float:left;width:33%;text-align:center;position:relative;}
.header-sort .sort-list li a{display:block;text-align:center;}

/*综合排序*/
.sort-synthesize{width:34%;}
.sort-synthesize a.title{display:block;width:100%;height:45px;color:#000}
.sort-synthesize a.title span{height:45px;background:url(../images/header-sort-arrow2.png) no-repeat right center;background-size:6px auto;padding-right:8px}
.sort-synthesize .sub-sort{display:block;position:absolute;width:100%;background-color:#fafafa;left:-45px;top:45px;overflow:hidden;height:0}
.sort-synthesize .sub-sort a{display:block;height:45px;border-bottom:1px solid #d7d7d7;}
.sort-list .show a{color:#fe4f01}
.sort-list .show a.title span{ height:45px;background:url(../images/header-sort-arrow.png) no-repeat right center;background-size:6px auto;padding-right:8px}
.sort-list .show .sub-sort a{color:#000}

/* @全部分类 列表_20150914
 -----------------------------------------------------*/
.list-wrapper{background-color:#fff;position:fixed;top:0;left:0;width:100%;bottom:0;z-index:2;opacity:0}
.list-wrapper h2{height:44px;line-height:44px;padding:0 10px;border-bottom:1px solid #d7d7d7;}
.list-wrapper h2 span{font-size:15px;}
.list-wrapper h2 a{float:right;font-size:12px;}

.isScroll{position:absolute;top:45px;left:0;right:0;bottom:0;overflow:hidden;}
.list-mod a{display:block;width:100%;height:44px;line-height:44px;}
.list-mod .list-item{border-bottom:1px solid #d7d7d7;background-color:#fff}
.list-mod .list-item a{text-indent:12px}
.list-mod .sub-item{background-color:#f0f0f0;border-bottom:1px solid #d7d7d7;}
.list-mod .sub-item a{text-indent:31px}


.wrapper{position:absolute;top:55px;left:0;right:0;bottom:0;z-index:10}
.wrapper ul.list{padding-top:0;padding-bottom:100px}