@charset "UTF-8";
/**
 * 确认订单
 * @date    2015-09-20 15:23:28
 */
.homePage{overflow:hidden;}

strong{font-weight:normal;}
.recipients-mod{}


.intro-panels{line-height:20px;padding:10px 0;font-size:14px}

/* @物流_20150920
 -----------------------------------------------------*/
/*选择物流方式*/
.distribution-tab{padding:15px 10px}
.distribution-tab span{display:block;float:left;width:90px;height:34px;line-height:34px;text-align:center;font-size:14px;color:#000;border:1px solid #a8a8a8;margin-right:15px}
.distribution-tab span.current{color:#ff4604;border-color:#ff4604}
/*收件人信息*/
.recipients-content{border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;background-color:#fff;padding:0 10px 5px}
.recipients .intro-panels{background:url(../images/arrow3.png) no-repeat right center;background-size:8px auto;padding:12px 0}
.recipients{border-bottom:1px solid #d7d7d7}
.recipients-name{color:#000;font-size:14px}
.recipients-addr{color:#666;font-size:12px;}
/*选择物流*/
.distribution-mod{}
.distribution-mod span.fr{color:#333;font-size:12px}



/* @订单商品_20150920
 -----------------------------------------------------*/
.order-wrapper{margin-top:15px;background:#fff;border-bottom:1px solid #d7d7d7;}
.order-wrapper .order-list{padding:0;border-top:1px solid #d7d7d7;}
.order-list .order-item{margin-bottom:0;border:none;}
.order-wrapper .messages{margin:10px 10px 0;background-color:#f0f0f0;border:1px solid #d7d7d7;padding:11px 12px}
.order-wrapper .messages input{display:block;width:100%;background-color:#f0f0f0;}
.order-wrapper .order-count{text-align:right;height:37px;line-height:37px;padding:0 10px 2px}


/* @订单统计_20150920
 -----------------------------------------------------*/
.order-info{border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;margin-top:10px;padding:0 10px;background-color:#fff}
.order-info p{border-bottom:1px solid #d7d7d7;height:44px;line-height:44px;padding:0}

/* @订单折扣_20150920
 -----------------------------------------------------*/
.order-discount{border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;margin-top:10px;padding:0 10px;background-color:#fff;}
.order-discount p{height:26px;line-height:26px;padding:8px 0}
.order-discount p .radio {background:url(../images/radio.png) no-repeat 0 0;width:47px;height:26px;background-size:cover;}
.order-discount p .radio:checked{background:url(../images/radio-checked.png) no-repeat 0 0;width:47px;height:26px;background-size:cover;}

/* @提交订单_20150920
 -----------------------------------------------------*/
div.btn-mod{border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;margin:12px 0 100px;padding:7px 10px;height:30px;line-height:30px;color:#ff4401;background-color:#fff;}
div.btn-mod .btn{background-color:#ff4401;color:#fff;font-size:12px;border-color:#ff4401}



/* @弹出层_20150920
 -----------------------------------------------------*/

.dialogue{position:absolute;top:0;bottom:0;right:0;z-index:20;background-color:#f0f0f0;overflow:hidden}
.dialogue .scroller{position:absolute;z-index:21;top:0;left:0;width:100%;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;text-size-adjust:none}
.scroller ul{margin-bottom:100px;background-color:#fff}
.scroller ul li input[type=radio]{display:inline-block;width:14px;height:14px;background:url(../images/radio2.png) no-repeat center center;background-size:cover;margin-right:12px}
.scroller ul li input[type=radio]:checked{background:url(../images/radio2-checked.png) no-repeat center center;background-size:cover}
.scroller ul li span.arrow{background:url(../images/arrow2.png) no-repeat right center;background-size:8px auto;float:right;display:inline-block;width:8px;height:45px;margin-right:10px}

/*物流_2015090*/
.distribution-list .distribution-item{height:45px;line-height:45px;border-bottom:1px solid #d7d7d7;padding:0 10px;color:#000;font-size:14px}

/*收件人_20150921*/
.recipients-list .recipients-item{line-height:20px;height:40px;border-bottom:1px solid #d7d7d7;padding:14px 10px 10px;position:relative;}
.recipients-list .recipients-item input[type=radio]{position:absolute;left:10px;top:25px;}
.recipients-list .recipients-item p{margin:0 0 0 25px;}
.recipients-list .add-item{background:url(../images/add-icon.png) no-repeat 10px center;background-size:14px auto;height:45px;line-height:45px;font-size:14px;color:#000;padding-left:34px}
.recipients-list .recipients-item span.edit{background:url(../images/edit-icon.png) no-repeat right center;position:absolute;height:100%;width:15px;background-size:auto 100%;position:absolute;top:0;right:10px}

/*新增收件人_20150921*/
.dialogue-addRecipients{background-color:#fff;/*background:url(../images/1.jpg) no-repeat center -64px;background-size:100% auto*/}
.dialogue-addRecipients .input-item{border-bottom:1px solid #d7d7d7;height:44px;line-height:44px}
.dialogue-addRecipients .input-item .input-label{float:left;display:block;width:66px;font-size:14px;color:#000;text-align:right;}
.dialogue-addRecipients .input-item .input-mod{display:block;margin:0 10px 0 77px;}
.dialogue-addRecipients .input-item .input-mod input.txt{display:block;width:100%;}
.dialogue-addRecipients .select-mod{padding:5px 0}
.dialogue-addRecipients .select-mod select{background: url(../images/select-arrow2.jpg) no-repeat center 0;}

/*测试*/
/*.recipients-list{background:url(../images/1.jpg) no-repeat center -64px;background-size:100% auto}*/